body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Input Section */
.input-container {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background-color: #6128a7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #2575fc;
}

/* Task List */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: 0.3s;
}
li:hover {
  background: #e0e0e0;
}

li button {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.task-actions {
  display: flex;
  gap: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button.complete-btn {
  background: #28a745;
  border-radius: 20px;
}
button.delete-btn {
  background: #dc3545;
  border-radius: 20px;
}
button.complete-btn:hover {
  background: #218838;
}
button.delete-btn:hover {
  background: #c82333;
}

.filter-options {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.filter-options label {
  display: flex;
  align-items: center;
  vertical-align: text-bottom;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.filter-options input[type="radio"] {
  vertical-align: text-bottom;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #6128a7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.filter-options input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #6128a7;
  border-radius: 50%;
  position: absolute;
}